@import '../base';
@import './base';

@media screen and (min-width: 768px) {

    * {
        font-size: 16px;
    }
    
    p {
        font-size: 16px;
    }    

    .wrap-sp {
        display: none;
    }
    
    .wrap-pc {
        display: block;
    }    

    html {

        body {
    
            .wrap-fv {
                height: 46vw;
    
                .wrap-bg {

                    .wrap-bgImg1 {
                        width: 69.8vw;
                        top: 1.6vw;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .wrap-bgImg2 {
                        height: calc(100% - 10px);
                        top: 0;
                        bottom: initial;
                        left: 2vw;
                        transform: translate(0, .8vw);
                    }

                    .wrap-bgImg3 {
                        width: 39.1vw;
                        height: initial;
                        top: 1.6vw;
                        right: 10vw;
                        left: initial;
    
                        img:nth-of-type(1) {
                            width: 28.2vw;
                            padding-left: 10.9vw;
                        }
    
                        img:nth-of-type(2) {
                            width: 100%;
                            height: 24.8vw;
                            float: initial;
                            transform: translateY(0);
                        }
                    }
                }
    
                h1 {
                    padding-top: 6.5vw;
                    margin-left: 7vw;
    
                    span {
                        padding: 10px 24px;
                        font-size: 40px;
                        line-height: 58px;
                    }
                }
    
                p {
                    padding-left: 9vw;
                    font-size: 18px;
                    line-height: 150%;
                }
            }

            .wrap_main {

                .wrap-order, .wrap-free, .wrap-contact {

                    h2 {
                        @include h2-pc;
                    }
        
                    p {
                        width: 100%;
                        text-align: center;
                    }
                }

                .wrap-order {

                    .wrap-flex {
                        width: calc(100vw - 15.6vw);
                        margin: 60px auto 0 auto;
                        @include center;

                        article {
                            width: 22.2%;

                            .wrap-container {
                                height: 20vw;

                                img {
                                    width: 12.5vw;
                                    height: 12.5vw;
                                }                                
                            }
                        }    

                        article:nth-of-type(1) {
                            margin: 0 auto 0 auto;
                        }

                        article:nth-of-type(3) {
                    
                            .wrap-container {
            
                                p {
                                    width: calc(100% - 43px);
                                }
                            }
                        }

                        .wrap_img {
                            width: 3.1vw;
                            height: 3.1vw;
                            transform: rotate(-90deg);
                        }
                    }
                }

                .wrap-detail {

                    nav {
                        width: calc(100vw - 15.6vw);
                        margin: 0 auto;
                        top: 146px;

                        ul {

                            li {
                                flex-direction: initial;
                                @include font-m-pc;
                                cursor: pointer;

                                &:hover {

                                    div {
                                        opacity: 1;
                                    }
                                }

                                img {
                                    padding-top: 0;
                                    margin-left: 16px;
                                }
                            }

                            li:nth-of-type(2) {
                            
                                &::before, &::after {
                                    top: 25%;
                                }
                            }
                        }
                    }

                    article {
                        width: calc(100vw - 15.6vw);

                        .wrap-flex {
                            @include center;

                            img {
                                display: block;
                                width: 39.1vw;
                                transform: translate(20px, 0);
                            }
    
                            .wrap-container {
                                width: 46.6vw;
                                padding-bottom: 24px;

                                .wrap-con {
                                    width: calc(100% - 80px);
                                    padding-top: 24px;

                                    h3 {
                                        display: flex;
                                        line-height: 150%;

                                        span {
                                            transform: translateY(3px);
                                        }
                                    }

                                    p {
                                        width: fit-content;

                                        span {
                                            @include font-ll;
                                        }
                                    }

                                    .wrap-flex {
                                        width: 30.64vw;

                                        div {
                                            width: 100%;

                                            img {
                                                width: 100%;
                                            }   
                                        }
                                    }
                                }

                                h4 {
                                    padding: 12px 0 0 40px;
                                    display: flex;
                                    align-items: end;
                                    @include font-m-pc;

                                    span {
                                        margin-top: 0;
                                        margin-left: 12px;
                                        @include font-m;
                                        font-weight: 400;;
                                    }
                                }

                                p {
                                    width: calc(100% - 80px);
                                    @include font-s;
                                }

                                .wrap-cta-container {
                                    width: calc(100% - 80px);
        
                                    div:nth-of-type(1) {
                                        width: 62%;
                                    }
        
                                    .wrap-cta {
                                        width: 38%;
                                        height: 48px;
                                        transition-duration: .2s;

                                        &:hover {
                                            transform: translate(2px, 2px);
                                            box-shadow: 0 0 0 transparent;
                                        }
                                        
                                        a {
                                            @include font-m;
                                        }
                                    }
                                }
                            }    
                        }

                        .wrap-container:nth-of-type(2) {
                            width: 70.3vw;
                            margin: 40px auto 0 auto;

                            h3 {
                                @include font-ll;
                            }

                            .wrap-con {

                                p {
                                    width: calc(100% - 13.3vw);
                                    @include font-m;
                                    font-weight: 400;
                                    text-align: center;
                                }

                                .wrap-flex {
                                    width: 33vw;
                                    margin: 24px auto 0 auto;

                                    img {
                                        width: calc(100% - 12px);
                                        margin: 0 0 0 24px;
                                    }

                                    img:nth-of-type(1) {
                                        margin: 0 0 0 0;
                                    }

                                    .wrap_p {
                                        width: initial;
                                        @include font-s;
                                    } 
                                }
                            }
                        }
                    }

                    article:nth-of-type(2) {
                        transform: translateX(20px);

                        .wrap-flex {
                            flex-direction: row-reverse;

                            img {
                                display: block;
                                width: 39.1vw;
                                transform: translate(-20px, 0);
                            }

                            .wrap-container {

                                h4 {
                                    width: 260px;
                                    justify-content: space-between;

                                    .wrap-size {
    
                                        span {
                                            margin-left: 0;
                                        }
                                    }
        
                                    .wrap-price {
        
                                        span {
                                            margin-left: 0;
                                        }
                                    }
                                }

                                h4:nth-of-type(2) {

                                    .wrap-size {
                                        transform: translateX(-2px);
                                    }
                                }
                            }    
                        }
                    }

                    article:nth-of-type(3) {

                        .wrap-flex {

                            .wrap-container {

                                h4 {
                                    width: 390px;
                                    justify-content: space-between;
                                }
                            }    
                        }
                    }

                    article:nth-of-type(2), article:nth-of-type(3) {

                        .wrap-container {

                            h4 {
                                .wrap-size {

                                    span {
                                        margin-left: 0;
                                    }
                                }
    
                                .wrap-price {
    
                                    span {
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .wrap-contact {
                    height: 19.375vw;
                    background-image: url(https://gigaplus.makeshop.jp/kitanoace/11_wrapping/assets/img/responsive/3_bg.svg);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h2 {
                        padding-top: 0;
                        margin-left: 12.2vw;
                    }

                    .wrap-container {
                        width: 31.3vw;
                        margin-right: 12.2vw;

                        p {
                            @include font-m;
                            font-weight: 400;
                        }

                        .wrap-cta {
                            width: 100%;
                            height: 60px;                                        
                            transition-duration: .2s;

                            &:hover {
                                transform: translate(2px, 2px);
                                box-shadow: 0 0 0 transparent;
                            }
        
                            a {
                                @include font-m-pc;
                            }
                        }
                    }
                }
            }
        }
    }    
}
