/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
}

.wrap-fv, main, section {
  width: 100%;
}

p {
  font-size: 14px;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.wrap-pc {
  display: none;
}

html body .wrap-fv {
  height: calc(146vw + 10px);
  position: relative;
}
html body .wrap-fv .wrap-bg {
  width: 100%;
  height: 100%;
  background-color: #F3EDE2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
html body .wrap-fv .wrap-bg .wrap-bgImg1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  top: 37vw;
}
html body .wrap-fv .wrap-bg .wrap-bgImg2 {
  height: 146vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
html body .wrap-fv .wrap-bg .wrap-bgImg2 img {
  width: fit-content;
  height: 100%;
}
html body .wrap-fv .wrap-bg .wrap-bgImg3 {
  width: 77vw;
  height: 63vw;
  position: absolute;
  top: 53vw;
  left: 28px;
}
html body .wrap-fv .wrap-bg .wrap-bgImg3 img:nth-of-type(1) {
  width: 53vw;
}
html body .wrap-fv .wrap-bg .wrap-bgImg3 img:nth-of-type(2) {
  width: 69vw;
  float: right;
  transform: translateY(-10px);
}
html body .wrap-fv h1 {
  padding-top: 38px;
  margin-left: 20px;
}
html body .wrap-fv h1 span {
  display: block;
  width: fit-content;
  border: solid 1px #4B0718;
  background-color: #FFFFFF;
  padding: 5px 12px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #4B0718;
  letter-spacing: 0;
  line-height: 35px;
}
html body .wrap-fv h1 span:nth-of-type(1) {
  border-bottom: none;
}
html body .wrap-fv p {
  padding-left: 32px;
  margin-top: 12px;
}
html body .wrap_main {
  background-color: #FBF9F5;
}
html body .wrap_main .wrap-order h2, html body .wrap_main .wrap-free h2, html body .wrap_main .wrap-contact h2 {
  font-size: 28px;
  font-weight: 700;
  color: #4B0718;
  text-align: center;
}
html body .wrap_main .wrap-order p, html body .wrap_main .wrap-free p, html body .wrap_main .wrap-contact p {
  width: calc(100vw - 40px);
  margin: 16px auto 0 auto;
}
html body .wrap_main .wrap-order {
  width: 100%;
  background-color: #F3EDE2;
  padding: 53px 0 80px 0;
  margin: 0 auto;
}
html body .wrap_main .wrap-order article {
  width: calc(100vw - 40px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
html body .wrap_main .wrap-order article h3 {
  width: fit-content;
  border-radius: 4px 4px 0 0;
  background-color: #4B0718;
  padding: 4px 12px;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 149%;
}
html body .wrap_main .wrap-order article .wrap-container {
  width: 100%;
  border: solid 1px #4B0718;
  border-radius: 0 8px 8px 8px;
  background-color: #FFFFFF;
  padding-bottom: 16px;
}
html body .wrap_main .wrap-order article .wrap-container img {
  display: block;
  width: 43vw;
  height: 43vw;
  margin: 16px auto 0 auto;
}
html body .wrap_main .wrap-order article .wrap-container p {
  width: calc(100% - 32px);
  margin: 0 auto;
  text-align: center;
}
html body .wrap_main .wrap-order article:nth-of-type(1) {
  margin: 60px auto 0 auto;
}
html body .wrap_main .wrap-order .wrap_img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
html body .wrap_main .wrap-detail {
  background-color: #FBF9F5;
}
html body .wrap_main .wrap-detail nav {
  width: 100%;
  height: 64px;
  background-color: #FBF9F5;
  display: flex;
  position: sticky;
  top: 97.5px;
  z-index: 1;
}
html body .wrap_main .wrap-detail nav ul {
  width: 100%;
  height: 100%;
  display: flex;
}
html body .wrap_main .wrap-detail nav ul li {
  width: 33.3%;
  height: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  color: #4B0718;
  text-align: center;
  position: relative;
}
html body .wrap_main .wrap-detail nav ul li img {
  display: block;
  width: 16px;
  height: 16px;
  padding-top: 8px;
}
html body .wrap_main .wrap-detail nav ul li div {
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: #E8D575;
  position: absolute;
  bottom: 0;
  left: 0;
  transition-duration: 0.2s;
  z-index: 2;
}
html body .wrap_main .wrap-detail nav ul li:nth-of-type(2)::before, html body .wrap_main .wrap-detail nav ul li:nth-of-type(2)::after {
  content: "";
  width: 1px;
  height: 50%;
  background-color: #B4B4B7;
  position: absolute;
  top: 20%;
}
html body .wrap_main .wrap-detail nav ul li:nth-of-type(2)::before {
  left: 0;
}
html body .wrap_main .wrap-detail nav ul li:nth-of-type(2)::after {
  right: 0;
}
html body .wrap_main .wrap-detail nav ul .wrap-on div {
  opacity: 1;
}
html body .wrap_main .wrap-detail article {
  width: calc(100% - 40px);
  margin: 40px auto 0 auto;
}
html body .wrap_main .wrap-detail article img {
  width: 100%;
  transform: translateY(12px);
}
html body .wrap_main .wrap-detail article .wrap-container {
  width: 100%;
  border: solid 1px #4B0718;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding-bottom: 16px;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-con {
  width: calc(100% - 48px);
  border-bottom: solid 1px #4B0718;
  padding-top: 16px;
  padding-bottom: 12px;
  margin: 0 auto;
  display: flex;
  align-items: end;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-con h3 {
  font-size: 24px;
  font-weight: 700;
  color: #4B0718;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-con h3 span {
  font-size: 14px;
  color: #4B0718;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-con p {
  width: fit-content;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 700;
  font-weight: 300;
  color: #4B0718;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-con p span {
  font-size: 20px;
  font-weight: 700;
  color: #4B0718;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-con .wrap-flex div .wrap_p {
  padding-top: 0;
  font-size: 12px;
  text-align: center;
}
html body .wrap_main .wrap-detail article .wrap-container h4 {
  padding: 12px 0 0 24px;
  font-size: 16px;
  font-weight: 700;
}
html body .wrap_main .wrap-detail article .wrap-container h4 span {
  display: block;
  margin-top: 4px;
  font-size: 14px;
}
html body .wrap_main .wrap-detail article .wrap-container p {
  width: calc(100% - 48px);
  margin: 12px auto 0 auto;
  font-size: 12px;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-cta-container {
  width: calc(100% - 48px);
  margin: 12px auto 0 auto;
  display: flex;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-cta-container div:nth-of-type(1) {
  width: 48%;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-cta-container .wrap-cta {
  width: 52%;
  height: 45px;
  border: solid 1px #4B0718;
  border-radius: 4px;
  background-color: #E8D575;
  box-shadow: 2px 2px 0 #4B0718;
  transition-duration: 0.2s;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-cta-container .wrap-cta:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 transparent;
}
html body .wrap_main .wrap-detail article .wrap-container .wrap-cta-container .wrap-cta a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #4B0718;
}
html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) {
  border: none;
  background-color: transparent;
  margin-top: 40px;
}
html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) h3 {
  width: fit-content;
  border-top: solid 1px #4B0718;
  border-left: solid 1px #4B0718;
  border-right: solid 1px #4B0718;
  border-radius: 8px 8px 0 0;
  background-color: #D36168;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}
html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) .wrap-con {
  width: 100%;
  border: solid 1px #4B0718;
  border-radius: 0 8px 8px 8px;
  background-color: #F3EDE2;
  padding-bottom: 24px;
  display: block;
}
html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) .wrap-con p {
  width: calc(100% - 32px);
  margin: 0 auto;
  font-size: 14px;
  color: #414143;
}
html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) .wrap-con img {
  display: block;
  width: 53vw;
  margin: 24px auto 0 auto;
  transform: translateY(0);
}
html body .wrap_main .wrap-detail article:nth-of-type(2), html body .wrap_main .wrap-detail article:nth-of-type(3) {
  margin-top: 80px;
}
html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-container h4 .wrap-size, html body .wrap_main .wrap-detail article:nth-of-type(3) .wrap-container h4 .wrap-size {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
}
html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-container h4 .wrap-size span, html body .wrap_main .wrap-detail article:nth-of-type(3) .wrap-container h4 .wrap-size span {
  display: inline;
  font-size: 14px;
}
html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-container h4 .wrap-price, html body .wrap_main .wrap-detail article:nth-of-type(3) .wrap-container h4 .wrap-price {
  margin-top: 0;
  font-size: 12px;
}
html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-container h4 .wrap-price span, html body .wrap_main .wrap-detail article:nth-of-type(3) .wrap-container h4 .wrap-price span {
  display: inline;
  font-size: 16px;
  font-weight: 700;
}
html body .wrap_main .wrap-free {
  margin: 100px auto 0 auto;
}
html body .wrap_main .wrap-contact {
  width: 100%;
  height: 72vw;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/11_wrapping/assets/img/3_bg.svg);
  background-size: cover;
  background-position: center;
  margin-top: 60px;
}
html body .wrap_main .wrap-contact h2 {
  padding-top: 80px;
}
html body .wrap_main .wrap-contact p {
  font-size: 14px;
  text-align: center;
}
html body .wrap_main .wrap-contact .wrap-cta {
  width: calc(100% - 32px);
  height: 45px;
  border-radius: 4px;
  background-color: #4B0718;
  box-shadow: 2px 2px 0 #FFFFFF;
  margin: 24px auto 0 auto;
  transition-duration: 0.2s;
}
html body .wrap_main .wrap-contact .wrap-cta:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 transparent;
}
html body .wrap_main .wrap-contact .wrap-cta a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
}

.wrap-fv, main, section {
  width: 100%;
}

p {
  font-size: 14px;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 150%;
}

html, body {
  width: 100vw;
}

.wrap-fv, main, section {
  width: 100%;
}

p {
  font-size: 14px;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  .wrap-sp {
    display: none;
  }
  .wrap-pc {
    display: block;
  }
  html body .wrap-fv {
    height: 46vw;
  }
  html body .wrap-fv .wrap-bg .wrap-bgImg1 {
    width: 69.8vw;
    top: 1.6vw;
    left: 50%;
    transform: translateX(-50%);
  }
  html body .wrap-fv .wrap-bg .wrap-bgImg2 {
    height: calc(100% - 10px);
    top: 0;
    bottom: initial;
    left: 2vw;
    transform: translate(0, 0.8vw);
  }
  html body .wrap-fv .wrap-bg .wrap-bgImg3 {
    width: 39.1vw;
    height: initial;
    top: 1.6vw;
    right: 10vw;
    left: initial;
  }
  html body .wrap-fv .wrap-bg .wrap-bgImg3 img:nth-of-type(1) {
    width: 28.2vw;
    padding-left: 10.9vw;
  }
  html body .wrap-fv .wrap-bg .wrap-bgImg3 img:nth-of-type(2) {
    width: 100%;
    height: 24.8vw;
    float: initial;
    transform: translateY(0);
  }
  html body .wrap-fv h1 {
    padding-top: 6.5vw;
    margin-left: 7vw;
  }
  html body .wrap-fv h1 span {
    padding: 10px 24px;
    font-size: 40px;
    line-height: 58px;
  }
  html body .wrap-fv p {
    padding-left: 9vw;
    font-size: 18px;
    line-height: 150%;
  }
  html body .wrap_main .wrap-order h2, html body .wrap_main .wrap-free h2, html body .wrap_main .wrap-contact h2 {
    font-size: 32px;
  }
  html body .wrap_main .wrap-order p, html body .wrap_main .wrap-free p, html body .wrap_main .wrap-contact p {
    width: 100%;
    text-align: center;
  }
  html body .wrap_main .wrap-order .wrap-flex {
    width: 84.4vw;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .wrap_main .wrap-order .wrap-flex article {
    width: 22.2%;
  }
  html body .wrap_main .wrap-order .wrap-flex article .wrap-container {
    height: 20vw;
  }
  html body .wrap_main .wrap-order .wrap-flex article .wrap-container img {
    width: 12.5vw;
    height: 12.5vw;
  }
  html body .wrap_main .wrap-order .wrap-flex article:nth-of-type(1) {
    margin: 0 auto 0 auto;
  }
  html body .wrap_main .wrap-order .wrap-flex article:nth-of-type(3) .wrap-container p {
    width: calc(100% - 43px);
  }
  html body .wrap_main .wrap-order .wrap-flex .wrap_img {
    width: 3.1vw;
    height: 3.1vw;
    transform: rotate(-90deg);
  }
  html body .wrap_main .wrap-detail nav {
    width: 84.4vw;
    margin: 0 auto;
    top: 146px;
  }
  html body .wrap_main .wrap-detail nav ul li {
    flex-direction: initial;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  html body .wrap_main .wrap-detail nav ul li:hover div {
    opacity: 1;
  }
  html body .wrap_main .wrap-detail nav ul li img {
    padding-top: 0;
    margin-left: 16px;
  }
  html body .wrap_main .wrap-detail nav ul li:nth-of-type(2)::before, html body .wrap_main .wrap-detail nav ul li:nth-of-type(2)::after {
    top: 25%;
  }
  html body .wrap_main .wrap-detail article {
    width: 84.4vw;
  }
  html body .wrap_main .wrap-detail article .wrap-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .wrap_main .wrap-detail article .wrap-flex img {
    display: block;
    width: 39.1vw;
    transform: translate(20px, 0);
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container {
    width: 46.6vw;
    padding-bottom: 24px;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-con {
    width: calc(100% - 80px);
    padding-top: 24px;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-con h3 {
    display: flex;
    line-height: 150%;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-con h3 span {
    transform: translateY(3px);
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-con p {
    width: fit-content;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-con p span {
    font-size: 24px;
    font-weight: 700;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-con .wrap-flex {
    width: 30.64vw;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-con .wrap-flex div {
    width: 100%;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-con .wrap-flex div img {
    width: 100%;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container h4 {
    padding: 12px 0 0 40px;
    display: flex;
    align-items: end;
    font-size: 18px;
    font-weight: 700;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container h4 span {
    margin-top: 0;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 700;
    font-weight: 400;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container p {
    width: calc(100% - 80px);
    font-size: 14px;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-cta-container {
    width: calc(100% - 80px);
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-cta-container div:nth-of-type(1) {
    width: 62%;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-cta-container .wrap-cta {
    width: 38%;
    height: 48px;
    transition-duration: 0.2s;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-cta-container .wrap-cta:hover {
    transform: translate(2px, 2px);
    box-shadow: 0 0 0 transparent;
  }
  html body .wrap_main .wrap-detail article .wrap-flex .wrap-container .wrap-cta-container .wrap-cta a {
    font-size: 16px;
    font-weight: 700;
  }
  html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) {
    width: 70.3vw;
    margin: 40px auto 0 auto;
  }
  html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) h3 {
    font-size: 24px;
    font-weight: 700;
  }
  html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) .wrap-con p {
    width: calc(100% - 13.3vw);
    font-size: 16px;
    font-weight: 700;
    font-weight: 400;
    text-align: center;
  }
  html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) .wrap-con .wrap-flex {
    width: 33vw;
    margin: 24px auto 0 auto;
  }
  html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) .wrap-con .wrap-flex img {
    width: calc(100% - 12px);
    margin: 0 0 0 24px;
  }
  html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) .wrap-con .wrap-flex img:nth-of-type(1) {
    margin: 0 0 0 0;
  }
  html body .wrap_main .wrap-detail article .wrap-container:nth-of-type(2) .wrap-con .wrap-flex .wrap_p {
    width: initial;
    font-size: 14px;
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) {
    transform: translateX(20px);
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-flex {
    flex-direction: row-reverse;
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-flex img {
    display: block;
    width: 39.1vw;
    transform: translate(-20px, 0);
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-flex .wrap-container h4 {
    width: 260px;
    justify-content: space-between;
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-flex .wrap-container h4 .wrap-size span {
    margin-left: 0;
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-flex .wrap-container h4 .wrap-price span {
    margin-left: 0;
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-flex .wrap-container h4:nth-of-type(2) .wrap-size {
    transform: translateX(-2px);
  }
  html body .wrap_main .wrap-detail article:nth-of-type(3) .wrap-flex .wrap-container h4 {
    width: 390px;
    justify-content: space-between;
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-container h4 .wrap-size span, html body .wrap_main .wrap-detail article:nth-of-type(3) .wrap-container h4 .wrap-size span {
    margin-left: 0;
  }
  html body .wrap_main .wrap-detail article:nth-of-type(2) .wrap-container h4 .wrap-price span, html body .wrap_main .wrap-detail article:nth-of-type(3) .wrap-container h4 .wrap-price span {
    margin-left: 0;
  }
  html body .wrap_main .wrap-contact {
    height: 19.375vw;
    background-image: url(https://gigaplus.makeshop.jp/kitanoace/11_wrapping/assets/img/responsive/3_bg.svg);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  html body .wrap_main .wrap-contact h2 {
    padding-top: 0;
    margin-left: 12.2vw;
  }
  html body .wrap_main .wrap-contact .wrap-container {
    width: 31.3vw;
    margin-right: 12.2vw;
  }
  html body .wrap_main .wrap-contact .wrap-container p {
    font-size: 16px;
    font-weight: 700;
    font-weight: 400;
  }
  html body .wrap_main .wrap-contact .wrap-container .wrap-cta {
    width: 100%;
    height: 60px;
    transition-duration: 0.2s;
  }
  html body .wrap_main .wrap-contact .wrap-container .wrap-cta:hover {
    transform: translate(2px, 2px);
    box-shadow: 0 0 0 transparent;
  }
  html body .wrap_main .wrap-contact .wrap-container .wrap-cta a {
    font-size: 18px;
    font-weight: 700;
  }
}