@import './base';

.wrap-pc {
    display: none;
}

html {

    body {
        
        .wrap-fv {
            height: calc(146vw + 10px);
            position: relative;

            .wrap-bg {
                width: 100%;
                height: 100%;
                background-color: $beige;
                @include absolute;
                z-index: -1;

                .wrap-bgImg1 {
                    width: 100%;
                    @include absolute;
                    top: 37vw;
                }

                .wrap-bgImg2 {
                    height: 146vw;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);

                    img {
                        width: fit-content;
                        height: 100%;
                    }
                }

                .wrap-bgImg3 {
                    width: 77vw;
                    height: 63vw;
                    position: absolute;
                    top: 53vw;
                    left: 28px;

                    img:nth-of-type(1) {
                        width: 53vw;
                    }

                    img:nth-of-type(2) {
                        width: 69vw;
                        float: right;
                        transform: translateY(-10px);
                    }
                }
            }

            h1 {
                padding-top: 38px;
                margin-left: 20px;

                span {
                    display: block;
                    width: fit-content;
                    border: solid 1px $brown;
                    background-color: $white;
                    padding: 5px 12px;
                    font-family: $font1;
                    @include font-ll;
                    color: $brown;
                    letter-spacing: 0;
                    line-height: 35px;
                }

                span:nth-of-type(1) {
                    border-bottom: none;
                }
            }

            p {
                padding-left: 32px;
                margin-top: 12px;
            }
        }

        .wrap_main {
            background-color: $cream;

            .wrap-order, .wrap-free, .wrap-contact {

                h2 {
                    @include h2;
                }
    
                p {
                    width: calc(100vw - 40px);
                    margin: 16px auto 0 auto;
                }
            }

            .wrap-order {
                width: 100%;
                background-color: $beige;
                padding: 53px 0 80px 0;
                margin: 0 auto;
    
                article {
                    width: calc(100vw - 40px);
                    margin: 0 auto;
                    position: relative;
                    z-index: 1;
    
                    h3 {
                        width: fit-content;
                        border-radius: 4px 4px 0 0;
                        background-color: $brown;
                        padding: 4px 12px;
                        @include font-m;
                        color: $white;
                        line-height: 149%;
                    }
    
                    .wrap-container {
                        width: 100%;
                        border: solid 1px $brown;
                        border-radius: 0 8px 8px 8px;
                        background-color: $white;
                        padding-bottom: 16px;
    
                        img {
                            display: block;
                            width: 43vw;
                            height: 43vw;
                            margin: 16px auto 0 auto;
                        }
    
                        p {
                            width: calc(100% - 32px);
                            margin: 0 auto;
                            text-align: center;
                        }
                    }
                }
    
                article:nth-of-type(1) {
                    margin: 60px auto 0 auto;
                }
    
                article:nth-of-type(3) {
                    
                    .wrap-container {
    
                        p {
                            width: 100%;
                        }
                    }
                }
    
                .wrap_img {
                    display: block;
                    width: 9vw;
                    height: 9vw;
                    margin: 0 auto;
                    position: relative;
                    transform: rotate(90deg);
                    z-index: 0;
                }    
            }

            .wrap-detail {
                background-color: $cream;

                nav {
                    width: 100%;
                    height: 64px;
                    background-color: $cream;
                    display: flex;
                    position: sticky;
                    top: 97.5px;
                    z-index: 1;

                    ul {
                        width: 100%;
                        height: 100%;
                        display: flex;

                        li {
                            width: 33.3%;
                            height: 100%;
                            display: flex;
                            @include center;
                            flex-direction: column;
                            @include font-ss;
                            font-weight: 700;
                            color: $brown;
                            text-align: center;
                            position: relative;

                            img {
                                display: block;
                                width: 16px;
                                height: 16px;
                                padding-top: 8px;
                            }

                            div {
                                opacity: 0;
                                width: 100%;
                                height: 4px;
                                background-color: $yellow;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                transition-duration: .2s;
                                z-index: 2;
                            }
                        }

                        li:nth-of-type(2) {
                            
                            &::before, &::after {
                                content: '';
                                width: 1px;
                                height: 50%;
                                background-color: #B4B4B7;
                                position: absolute;
                                top: 20%;
                            }

                            &::before {
                                left: 0;
                            }

                            &::after {
                                right: 0;
                            }
                        }

                        .wrap-on {

                            div {
                                opacity: 1;
                            }
                        }
                    }
                }

                article {
                    width: calc(100% - 40px);
                    margin: 40px auto 0 auto;

                    img {
                        width: 100%;
                        transform: translateY(12px);
                    }

                    .wrap-container {
                        width: 100%;
                        border: solid 1px $brown;
                        border-radius: 8px;
                        background-color: $white;
                        padding-bottom: 16px;

                        .wrap-con {
                            width: calc(100% - 48px);
                            border-bottom: solid 1px $brown;
                            padding-top: 16px;
                            padding-bottom: 12px;
                            margin: 0 auto;
                            display: flex;
                            align-items: end;

                            h3 {
                                @include font-ll;
                                color: $brown;

                                span {
                                    @include font-s;
                                    color: $brown;
                                }
                            }

                            p {
                                width: fit-content;
                                margin-left: 12px;
                                @include font-m;
                                font-weight: 300;
                                color: $brown;

                                span {
                                    @include font-l;
                                    color: $brown;
                                }
                            }
                        }

                        h4 {
                            padding: 12px 0 0 24px;
                            @include font-m;

                            span {
                                display: block;
                                margin-top: 4px;
                                @include font-s;
                            }
                        }

                        p {
                            width: calc(100% - 48px);
                            margin: 12px auto 0 auto;
                            @include font-ss;
                        }

                        .wrap-cta-container {
                            width: calc(100% - 48px);
                            margin: 12px auto 0 auto;
                            display: flex;

                            div:nth-of-type(1) {
                                width: 48%;
                            }

                            .wrap-cta {
                                width: 52%;
                                height: 45px;
                                border: solid 1px $brown;
                                border-radius: 4px;
                                background-color: $yellow;
                                box-shadow: 2px 2px 0 $brown;
                                transition-duration: .2s;

                                &:active {
                                    transform: translate(2px, 2px);
                                    box-shadow: 0 0 0 transparent;
                                }
                                
                                a {
                                    @include center;
                                    font-weight: 700;
                                    color: $brown;
                                }
                            }
                        }
                    }

                    .wrap-container:nth-of-type(2) {
                        border: none;
                        background-color: transparent;
                        margin-top: 40px;
                        
                        h3 {
                            width: fit-content;
                            border-top: solid 1px $brown;
                            border-left: solid 1px $brown;
                            border-right: solid 1px $brown;
                            border-radius: 8px 8px 0 0;
                            background-color: $pink;
                            padding: 8px 20px;
                            @include font-l;
                            color: $white;
                        }

                        .wrap-con {
                            width: 100%;
                            border: solid 1px $brown;
                            border-radius: 0 8px 8px 8px;
                            background-color: $beige;
                            padding-bottom: 24px;
                            display: block;

                            p {
                                width: calc(100% - 32px);
                                padding-top: 24px;
                                margin: 0 auto;
                                @include font-s;
                                color: $grey;
                            }

                            img {
                                display: block;
                                width: 53vw;
                                margin: 24px auto 0 auto;
                                transform: translateY(0);
                            }
                        }
                    }
                }

                article:nth-of-type(2), article:nth-of-type(3) {
                    margin-top: 80px;

                    .wrap-container {

                        h4 {

                            .wrap-size {
                                margin-top: 0;
                                @include font-m;

                                span {
                                    display: inline;
                                    @include font-s;
                                }
                            }

                            .wrap-price {
                                margin-top: 0;
                                @include font-ss;

                                span {
                                    display: inline;
                                    @include font-m;
                                }
                            }
                        }
                    }
                }
            }

            .wrap-free {
                margin: 100px auto 0 auto;
            }

            .wrap-contact {
                width: 100%;
                height: 72vw;
                background-image: url(https://gigaplus.makeshop.jp/kitanoace/11_wrapping/assets/img/3_bg.svg);
                @include bg;
                margin-top: 60px;

                h2 {
                    padding-top: 80px;
                }

                p {
                    @include font-s;
                    text-align: center;
                }

                .wrap-cta {
                    width: calc(100% - 32px);
                    height: 45px;
                    border-radius: 4px;
                    background-color: $brown;
                    box-shadow: 2px 2px 0 $white;
                    margin: 24px auto 0 auto;
                    transition-duration: .2s;

                    &:active {
                        transform: translate(2px, 2px);
                        box-shadow: 0 0 0 transparent;
                    }

                    a {
                        @include center;
                        @include font-m;
                        color: $white;
                    }
                }
            }
        }
    }
}

@import './responsive/style';
